{% extends 'base.html.twig' %}

{% block title %}New Article
{% endblock %}
{% block body %}
	<main class="container">
		<div class="card col-12">
			<h1>Create new Article</h1>
			{{ form_start(form) }}
			{{ form_widget(form) }}
			<button class="btn btn-lg btn-primary">{{ button_label | default('Absenden') }}</button>
			{{ form_end(form) }}
		</div>
	</main>
{% endblock %}
