{% extends 'base.html.twig' %}

{% block title %}Home
{% endblock %}

{% block body %}
	<main class="container">
		<div class="row mb-2">


				<div class="col-md-12">
					<div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
						<div class="col p-4 d-flex flex-column position-static">
							<h3 class="mb-0">
								title
							</h3>
							<div class="mb-1 text-muted">
								date : 15.10.2022
							</div>
							<p class="card-text mb-auto">
								description
							</p>
							<strong class="d-inline-block mb-2 text-primary">
								Author
							</strong>
							<div class="mb-1 text-muted">
								Comments
							</div>
						</div>
						<div class="col-auto d-none d-lg-block">
							<img style="width: 250px; height: 350px;" src="https://via.placeholder.com/150">
						</div>
					</div>
				</div>
                


		</div>
	</main>
{% endblock %}
